<section class="container">
<% if @items.blank? %>
The store is closed. Please visit after some time.
<% else %>
	<article class="row grid">
	<% @items.each do |item| %>
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
		<section class='tile-grid'>
			<article class="tile">
				<%= image_tag item.image.url %>
			</article>			
			<article class="details">
				<div class="name"><strong><%= item.name %></strong></div>
				<div class="price">Rs. <%= item.price %>/-</div>
				<div class="controls">
				<% if admin_signed_in? %>
					<div class="control-holder"><%= button_to "Edit Item", { action: "edit", id: item.id }, class: 'btn btn-primary' %></div>
					<div class="control-holder"><%= button_to 'Delete', '/delete', params: { id: item.id}, class: 'btn btn-danger' %></div>
				<% else %>
					<div class="add-to-cart"><button class="btn btn-primary">Add to cart</button></div>
				<% end %>
				</div>
			</article>
		</section>
		
		
	</div>
	<% end %>
	</article>
<%= will_paginate @items %>
<% end %>
</section>


